---
layout: base
---
<section class="section">
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="columns is-centered">
          <div class="column is-narrow">
              <div class="selfie-container">
                <figure class="image is-square">
                  <img class="is-rounded" src="/images/selfie.jpg">
                </figure>
              </div>
          </div>

          <div class="column">
            <h1 class="title is-3">About me</h2>
            <div class="about-content content has-text-justified">

              <p>My name is David Landry and I'm a PhD candidate at <a href="https://www.inria.fr/fr/centre-inria-de-paris">INRIA Paris</a> 
              and <a href="https://www.sorbonne-universite.fr/">Sorbonne Université</a>.
              My research interests include Machine Learning, Artificial Intelligence and their applications to Earth Sciences.
              Here, I write about my research, and also Python programming, ML Engineering, and High-Performance Computing.
              I also like to nerd out about note-taking and Knowledgeme Management.</p> 

              <h1 class='title is-4'>Contact</h2>

              <ul>
                <li>Email: <b>david dot landry at inria dot fr</b></li>
                <li><b><a href="https://github.com/davidlandry93">Github</a></b></li>
                <li><b><a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=WRiC10cAAAAJ&gmla=AOV7GLNj8uD9Mz9MWQA-n7_KC0jBnUeHz1GsrbnTU3uvLU56z5hBZxwtjjpVhVHX_HU2DZsuf9ImPAHjYyGlKO1Lwg-tGlMscjvVNwFiyRXB">Google scholar</a></b></li>
                <li>Orcid: <b><a href="https://orcid.org/0000-0001-5343-2235">0000-0001-5343-2235</a></b>
                <li>Discord: <b>.dl93</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>