---
layout: base.njk
eleventyImport:
navbar: false
---

<div class="container is-max-desktop mt-6">

  <div class="column is-8 is-offset-2">

    <div class="section hello">
      <p class="title">
      Hello, I'm David. 
      </p>
      <p>
      I'm a PhD candidate researching Artificial Intelligence at INRIA Paris.
      </p>
    </div>

    <a href="/posts/">Blog</a>
    <a href="/research/">Research</a>
    <a href="/photography/">Photography</a>
    <a href="/about/">Contact</a>
  </div>
</div>