---
layout: base.njk
eleventyImport:
navbar: true
footer: true
collections: ["posts"]
---

<section class="section">
  <div class="container is-max-desktop">
      <div class="columns">
        <div class="column is-two-thirds">
          <h1 class="title">Hi, I'm David.</h1>
          <p>I’m a PhD candidate at INRIA Paris. I study the intersection of Artificial Intelligence and atmospheric sciences.</p>
        </div>
      </div>
  </div>
</section>

<section class="section menu-cards">
  <div class="container is-max-desktop">
    <h2 class="title is-4">Contents</h2>
    <div class="home-menu-grid">
      <div>
        <a href="/posts">
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~ <span class="menu-card-headline">BLOG</span> ~~
          ~~~~~~~~~~~~~~~~~~~~
          ~~~~~~~~~~~~~~~~~~~~
        </a>
      </div>
      <div>
          <a href="/research">
          ....................
          ....................
          ....................
          ....................
          ....................
          ....................
          ....................
          ........ <span class="menu-card-headline">RESEARCH</span> ..
          ....................
          ....................
          </a>
      </div>
      <div>
        <a href="/photography">
          --------------------
          --------------------
          --------------------
          --------------------
          --------------------
          --------------------
          --------------------
          ----- <span class="menu-card-headline">PHOTOGRAPHY</span> --
          --------------------
          --------------------
        </a>
      </div>
      <div>
        <a href="/about">
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@ <span class="menu-card-headline">CONTACT</span> @@
          @@@@@@@@@@@@@@@@@@@@
          @@@@@@@@@@@@@@@@@@@@
        </a>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container is-max-desktop">
    <h2 class="title is-4">Latest posts</h2>
        <div class="post-grid">
        {%- for post in collections.post | reverse -%}
            <div class="post-card" >
              <div class="post-card-background" style="background-image:url('/images/{{post.data.image}}');">
              </div>
              <a class="post-card-content" href="{{post.url}}">
                  <div class="textual-content">
                  <h3>{{ post.data.post_title }}</h3>
                  <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy.LL.dd") }}</time>
                  </div>
              </a>
            </div>
        {%- endfor -%}
        </div>
    <a href="/posts/">More posts</a>
  </div>

</section>
