---
layout: base.njk
---

<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-2">Photography</h1>
    <p class="intro">
      I recently picked up photography as a hobby. Here are some of the photos I took recently.
      The earlier ones were captured on a Fujifilm X100s, which I later swapped for an X-S10.
      I'm also experimenting with film photography using a Ricoh 500 ST.
      Find more on <a href="https://www.instagram.com/bigelow133/">Instagram</a>.
    </p>
  </div>
</section>