---
layout: base.njk
collections: ["photos"]
---



<script type="module">
  import PhotoSwipeLightbox from '/assets/photoswipe-lightbox.esm.min.js';


  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('/assets/photoswipe.esm.min.js'),
  });
  lightbox.init();
</script>

<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-2">Photography</h1>
    <p class="intro">
      I recently picked up photography as a hobby. Here are some of the photos I took recently.
      The earlier ones were captured on a Fujifilm X100s, which I later swapped for an X-S10.
      I'm also experimenting with film photography using a Ricoh 500 ST.
      Find more on <a href="https://www.instagram.com/bigelow133/">Instagram</a>.
    </p>
  </div>
</section>


<section class="section">
  <div id="photoswipe-container">
    <div class="pswp">
    </div>
  </div>

  <div id="gallery" class="pswp-gallery">
    {% for photo in photos %}
      {% galleryImage "photos/" + photo.file, photo.caption %}
    {% endfor %}
  </div>
</section>