---
layout: base.njk
---

<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-3">Research</h1>
    <p>My research revolves around the applications of Artificial Intelligence to the earth sciences. 
      I'm especially interested in the downstream applications of weather forecasting: how to make optimal decisions 
      related to the weather, given that our predictions are uncertain?</p>
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop">
    <h2 class="title is-4">Selected publications</h2>
    <div class="publication-grid">
      {%- for pub in collections.publication | reverse -%}
        {%- if pub.data.pinned -%}
          <div class="publication-grid-item">
            <div class="publication-card">
              <div class="publication-card-main">
                <h3>{{pub.data.title}}</h3>
                <p>{{pub.data.authors}}</p>
              </div>
              <div class="publication-card-bottom">
                <div class="left-links">
                  {%- if pub.data.doi -%}[<a href="https://doi.org/{{post.data.doi}}">DOI</a>]{%-endif-%}
                  {%- if pub.data.arxiv -%}[<a href="https://arxiv.org/abs/{{post.data.arxiv}}">arXiv</a>]{%-endif-%}
                  {%- if pub.data.pdf -%}[<a href="/pdf/{{post.data.pdf}}">PDF</a>]{%-endif-%}
                  {%- if pub.data.url -%}[<a href="{{post.data.url}}">URL</a>]{%-endif-%}
                </div>
                <div>
                  <time datetime="{{ pub.date | htmlDateString }}">{{ pub.date | readableDate("yyyy.MM.dd") }}</time>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop">
  <h2 class="title is-4">Other works</h2>
  <div class="publication-grid">
      {%- for pub in collections.publication | reverse -%}
        {%- if not pub.data.pinned -%}
          <div class="publication-grid-item">
            <div class="publication-card">
              <div class="publication-card-main">
                <h3>{{pub.data.title}}</h3>
                <p>{{pub.data.authors}}</p>
              </div>
              <div class="publication-card-bottom">
                <div class="left-links">
                  {%- if pub.data.doi -%}[<a href="https://doi.org/{{post.data.doi}}">DOI</a>]{%-endif-%}
                  {%- if pub.data.arxiv -%}[<a href="https://arxiv.org/abs/{{post.data.arxiv}}">arXiv</a>]{%-endif-%}
                  {%- if pub.data.pdf -%}[<a href="/pdf/{{post.data.pdf}}">PDF</a>]{%-endif-%}
                  {%- if pub.data.url -%}[<a href="{{post.data.url}}">URL</a>]{%-endif-%}
                </div>
                <div>
                  <time datetime="{{ pub.date | htmlDateString }}">{{ pub.date | readableDate("yyyy.MM.dd") }}</time>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
  </div>                  
  <p>
    <a href="#">Back to the top</a>
  </p>
</div>
</section>