---
page_title: David Landry - A blog about Artificial Intelligence, Software, Knowledge Management
page_description: "My small website where I store posts about various topics, including Artificial Intelligence, Software (mostly Python), and Knowledge Management."
navbar: true
footer: true
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQG84G1BHT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-SQG84G1BHT');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Landry">
    {% if post_summary %}
      <meta name="description" content="{{ post_summary }} Read the full post David Landry's blog.">
    {% elif page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}

    {% if keywords %}
      <meta name="keywords" content="
  {%- for kw in keywords %}
  {{- kw -}}{%- if not loop.last %},{% endif -%}
  {% endfor -%}
   ">
    {% endif %}

    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" src="/assets/photoswipe.css" >

    <title>
      {% if post_title %}
        {{ post_title }}
      {% else %}
        {{ page_title }}
      {% endif %}
    </title>
    <script type="application/ld+json">
      {
        "@context": "schema.org",
        "@type": "Blog",
        "@id": "{{ metadata.url }}",
        "name": "David Landry's Blog",
        "publisher": {
          "@type": "Person",
          "@id": "https://blog.dlandry.xyz/about/#Person",
          "name": "David Landry",
          "url": "https://blog.dlandry.xyz/about/",
          "image": {
            "@type": "ImageObject",
            "@id": "https://blog.dlandry.xyz/images/selfie.jpg",
            "url": "https://blog.dlandry.xyz/images/selfie.jpg",
            "height": "402",
            "width": "402"
          }
        }
      }
    </script>
  </head>
  <body>
    {% if navbar %}
      <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="container is-max-desktop">
            <div class="navbar-brand">
              <div class="navbar-item first"><a class="to-filter" href="{{ navigation.home }}">DL.</a></div>
              <div class="navbar-item smaller"><a class="to-filter" href="/posts/">Blog</a></div>
             <div class="navbar-item smaller"><a class="to-filter" href="/research/">Research</a></div>
              <div class="navbar-item smaller"><a class="to-filter" href="/about/">Contact</a></div>
            </div>
          </div>
        </nav>
      </header>
    {% endif %}
    <main>
    {{ content | safe }}
    </main>
    {% if footer %}
      <footer class="footer">
        <div class="container is-max-desktop">
          <div class="columns">
            <div class="column is-one-quarter">
              <h3>Navigation</h3>
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/posts">Blog</a>
                </li>
                <li>
                  <a href="/research">Research</a>
                </li>
                <li>
                  <a href="/photography">Photography</a>
                </li>
                <li>
                  <a href="/about">About</a>
                </li>
              </ul>
            </div>
            <div class="column is-one-quarter">
              <h3>External Links</h3>
              <ul>
                <li>
                  <a href="https://orcid.org/0000-0001-5343-2235">ORCID</a>
                </li>
                <li>
                  <a href="https://www.semanticscholar.org/author/David-Landry/2072096651">Semantic Scholar</a>
                </li>
                <li>
                  <a href="https://linkedin.com/in/davidlandry93">LinkedIn</a>
                </li>
                <li>
                  <a href="https://github.com/davidlandry93">Github</a>
                </li>
                <li>
                  <a href="https://x.com/davidlandry93">Twitter/X</a>
                </li>
              </ul>
            </div>
            <div class="column is-one-quarter">
              <h3>
              Get in touch
            </h3>
              <p>
              Through LinkedIn, X or via <a href='mailto:david.landry@inria.fr'>david.landry@inria.fr</a>.
            </p>
            </div>
          </div>
          <p>© David Landry, 2023-2024.</p>
        </div>
      </footer>
      {%endif%}
    </body>
  </html>
