<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bulma.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="container is-max-desktop">
        <div class="column is-8 is-offset-2">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item first" href="{{ navigation.home }}">David Landry</a>
              <a class="navbar-item smaller" href="/posts/">Posts</a>
              <a class="navbar-item smaller" href="/about/">Contact</a>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer class="footer has-text-centered">
      <p>
        © David Landry, 2023. 
      </p>
      <p>
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/about">Contact</a>
      </p>
    </footer>
  </body>
</html>