---
page_title: David Landry - A blog about Artificial Intelligence, Software, Knowledge Management
page_description: "My small website where I store posts about various topics, including Artificial Intelligence, Software (mostly Python), and Knowledge Management."
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQG84G1BHT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-SQG84G1BHT');
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Landry">
    {% if post_summary %}
      <meta name="description" content="{{ post_summary }} Read the full post David Landry's blog.">
    {% elif page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}

    {% if keywords %}
      <meta name="keywords" content="
  {%- for kw in keywords %}
  {{- kw -}}{%- if not loop.last %},{% endif -%}
  {% endfor -%}
   ">
    {% endif %}

    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/style.css">

    <title>
      {% if post_title %}
        {{ post_title }}
      {% else %}
        {{ page_title }}
      {% endif %}
    </title>
    <script type="application/ld+json">
      {
        "@context": "schema.org",
        "@type": "Blog",
        "@id": "https://blog.dlandry.xyz",
        "name": "David Landry's Blog",
        "publisher": {
          "@type": "Person",
          "@id": "https://blog.dlandry.xyz/about/#Person",
          "name": "David Landry",
          "url": "https://blog.dlandry.xyz/about/",
          "image": {
            "@type": "ImageObject",
            "@id": "https://blog.dlandry.xyz/images/selfie.jpg",
            "url": "https://blog.dlandry.xyz/images/selfie.jpg",
            "height": "402",
            "width": "402"
          }
        }
      }
    </script>
  </head>
  <body>
    <header>
      <div class="container is-max-desktop">
        <div class="column is-8 is-offset-2">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item first" href="{{ navigation.home }}">David Landry</a>
              <a class="navbar-item smaller" href="/posts/">Posts</a>
              <a class="navbar-item smaller" href="/about/">Contact</a>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="footer has-text-centered">
      <p>
        © David Landry, 2023. 
      </p>
      <p>
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/about">Contact</a>
        <a href="/feed.xml">Atom Feed</a>
      </p>
    </footer>
  </body>
</html>