{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": "{{ page.url }}",
  "headline": "{{ post_title }}",
  "name": "{{ post_title }}",
  "description": "{{ post_summary }}",
  "datePublished": "{{ post_date | htmlDateString }}",
  "dateModified": "{{ date_modified | default(post_date) | htmlDateString }}",
  "url": "{{ page.url }}",
  "isPartOf":  {
    "@type": "Blog",
    "@id": "https://blog.dlandry.xyz",
    "name": "David Landry's Blog",
    "publisher": {
      "@type": "Person",
      "name": "David Landry",
      "url": "https://blog.dlandry.xyz"
    }
  },
  "keywords": [
    {%for tag in keywords %}
      "{{tag}}" {%if not loop.last %},{% endif %}
{% endfor %}
]
}