@font-face {
  font-family: Inter;
  src: url('/fonts/inter.ttf');
}

@font-face {
  font-family: InterTight;
  src: url('fonts/intertight.ttf');
}


@font-face {
  font-family: Lexend;
  src: url('fonts/lexend.ttf');
}


@font-face {
  font-family: 'Courier Prime';
  src: url('fonts/CourierPrime-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('fonts/CourierPrime-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('fonts/CourierPrime-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('fonts/CourierPrime-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}