@import "fonts.css";
@import "research.css";

:root {
  --bulma-scheme-main: #FAFAFA;
  --ruler-red: #ED7F7F;
  --base-font: 'Lexend', 'Arial', sans-serif;
  --typewriter-font: 'Courier Primer', 'Courier New', sans-serif;
  --bulma-hero-body-padding-medium: 1em;
}

.title {
  --bulma-title-color: black;
}

html,
body {
  background-color: white;
  font-family: Lexend, sans-serif;
  color: black;
  font-size: 14pt;
}

a {
  color: blue;
  text-decoration: none;
}

h2 {
  font-family: 'Courier Primer', 'Courier New', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Courier Prime', 'Courier New', sans-serif;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.section {
  background-color: #FAFAFA;
}

.navbar {
  font-family: 'Courier Prime', 'Courier New', sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid var(--ruler-red);
}

.hero {
  background-color: #FAFAFA;
}

.menu-cards {
  font-family: var(--typewriter-font);
  overflow: hidden;
}

.menu-cards a {
  color: black;
  display: block;
  width: 225px;
  height: 150px;
  background-color: white;
  line-height: 0.8em;
  box-shadow: 0px 3px 5px 0px #00000033;
  transition: box-shadow 0.3s ease;
  /* Add transition for smooth animation */
  font-weight: bold;
}

.menu-cards a:hover {
  text-decoration: none;
  box-shadow: 0px 3px 5px 0px #00000088;
}

.menu-card-headline {
  color: #fb6666ff;
}

.home-menu-grid {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, 225px);
  grid-auto-rows: 150px;
  gap: 1em;
  width: 100%;
}

div.hero-body {
  padding-left: 0;
}

section.hero {
  padding-left: 1.5rem;
}

.contents-section {
  background-color: #FAFAFA;
  box-shadow: 0px 5px 7px 0px #00000033;
  margin-bottom: 10px;
  padding-top: 1em;
  /* border-bottom: 2px solid var(--ruler-red); */
}

.navbar-item {
  color: black;
}

.navbar-item.first {
  margin-left: var(--bulma-section-padding);
  border-right: 3px double var(--ruler-red);
  font-weight: bold;
}


.table-of-contents {
  font-size: 1.2rem;
  font-family: 'Courier Primer', 'Courier New';
}

.table-of-contents a {
  text-transform: uppercase;
}

.grid {
  --bulma-grid-gap: 1.5em;
}

.post-card {
  background-color: white;
  display: flex;
  height: 192px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.279);
  /* Add drop shadow at the bottom */

  max-width: 25em;
}

.post-card.more {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card.more a {
  font-family: var(--typewriter-font);
}


.post-card h3 {
  font-family: 'Lexend', sans-serif;
  font-size: 12pt;
}

.post-card time {
  font-size: 12pt;
  font-family: var(--typewriter-font);
}

.post-card h3 a {
  color: black;
}

.post-card .contents {
  padding: 1em;
}

.post-thumbnail {
  background-position: center;
  background-size: cover;
  width: 192px;
  height: 192px;
}

.home h1 {
  margin-top: 2em;
  margin-bottom: 1em;
}



.home a {
  margin-right: 1em;
}

.footer {
  font-size: 0.8em;
  background-color: white;
}

navbar {
  background-color: #FAFAFA;
}