@import "fonts.css";
@import "research.css";
@import "index.css";

:root {
    --bulma-scheme-main: #fafafa;
    --ruler-red: #ed7f7f;
    --base-font: "Lexend", "Arial", sans-serif;
    --typewriter-font: "Courier Prime", "Courier New", courier;
    --bulma-hero-body-padding-medium: 1em;
    --bulma-strong-color: black;
}

.title {
    --bulma-title-color: black;
    --bulma-title-weight: 400;
}

html,
body {
    background-color: white;
    font-family: Lexend, sans-serif;
    color: black;
    font-size: 14pt;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    background-color: var(--bulma-scheme-main);
}

a {
    color: #d05555;
    transition: filter 0.2s ease;
}

a:hover {
    filter:saturate(60%) brightness(140%);
}

.section {
    background-color: #fafafa;
}

.navbar {
    font-family: "Courier Prime", "Courier New", sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid var(--ruler-red);
}

.navbar-item.first {
    padding-left: 1em;
}

@media screen and (max-width: 600px) {
    .navbar-item.smaller {
        padding-right: 0.2em;
        padding-left: 0.5em;
    }
}

.hero {
    background-color: #fafafa;
}

.hero-body .is-two-thirds {
    padding-left: 0;
}



.menu-cards a {
    font-family: var(--typewriter-font);
    overflow: hidden;
    color: black;
    display: block;
    width: 226px;
    height: 150px;
    background-color: white;
    line-height: 0.8em;
    box-shadow: 0px 3px 5px 0px #00000033;
    transition: box-shadow 0.3s ease;
    /* Add transition for smooth animation */
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

.menu-cards a:hover {
    text-decoration: none;
    box-shadow: 0px 3px 5px 0px #00000088;
}

.menu-card-headline {
    color: #fb6666ff;
}

.home-menu-grid {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, 230px);
    grid-auto-rows: 150px;
    gap: 1em;
    width: 100%;
}


.contents-section {
    background-color: #fafafa;
    box-shadow: 0px 5px 7px 0px #00000033;
    margin-bottom: 10px;
    padding-top: 1em;
    /* border-bottom: 2px solid var(--ruler-red); */
}

.navbar-item {
    color: black;
    transition: filter 0.2s ease;
}

.navbar-item.first {
    margin-left: var(--bulma-section-padding);
    border-right: 3px double var(--ruler-red);
    font-weight: bold;
}

.navbar-item:hover {
    background-color: #FFFFFF00;

}

.navbar-item.first a.to-filter {
    text-decoration: none;
}

a.to-filter {
    color: black;
    transition: filter 0.2s ease;
    text-decoration: underline;
}

a.to-filter:hover {
    filter: invert(60%);
}


.home-menu-grid a:hover {
    filter: none;
}

.grid {
    --bulma-grid-gap: 1.5em;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-bottom: 2em;
}

.post-grid.smaller {
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 600px) {
    .post-grid, .post-grid.smaller {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .post-grid.smaller {
        grid-template-columns: repeat(2, 1fr);
    }
}

.post-card {
    display: block;
    position: relative;
    flex-direction: column;
    /* height: 192px; */
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.279);
    /* Add drop shadow at the bottom */

    transition: box-shadow 0.3s ease;
    max-height: 16em;
    height: 35vh;
    color: black;
    margin-bottom: 1em;
    padding: 1em;
}

.post-card h3 {
    line-height: 1.2;
}

.post-card.smaller {
    height: 10em;
}

.post-card-content {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em;

    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.post-card-content:hover {
    background-color: rgba(0, 0, 0, 0.7);
    filter: none;
}

.post-card .textual-content {
    max-width: 75%;
    width: 40em;
    color: white;
}

.post-card .contents-bottom {
    width: 100%;
    text-align: right;
}

.post-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-position: center;
    background-size: cover;
    z-index: 1;
}

.post-card.more {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card.more a {
    font-family: var(--typewriter-font);
}

.post-card-content .textual-content h3 {
    color: white;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.post-card.smaller .post-card-content {
    padding: 0.7em;
}


.post-card.smaller .textual-content {
    max-width: 100%;
    width: 100%;
}

.post-card.smaller .textual-content h3 {
    font-size: 1.0em;
}

.post-card-content time {
    font-family: var(--typewriter-font);
    color: #dedede;
    font-weight: bold;
    font-size: 0.9em;
}


.post-card .contents {
    padding: 1em;
}

.intro {
    max-width: 40em;
  }

.contents-top {
    flex-grow: 1;
}

.contents-bottom {
    text-align: right;
}

.home h1 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.home a {
    margin-right: 1em;
}

.footer {
    font-size: 0.8em;
    background-color: white;
}

.footer h3 {
    /* font-weight: bold; */
    margin-bottom: 0.5em;
    font-family: var(--typewriter-font);
}

navbar {
    background-color: #fafafa;
}

.post-card .more {
    font-family: var(--typewriter-font);
}

.selfie-container {
    margin: auto;
    width: 256px;
  }